<mat-card *ngIf="project">
    <mat-grid-list cols="2">
        <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
            <img src="{{ project.image }}" alt="Project Image" />
        </mat-grid-tile>
        <mat-grid-tile>
            <section class="description">
                <mat-card>
                    <mat-card-title>{{ project.name }}</mat-card-title>
                    <mat-card-subtitle
                        routerLink="/user/{{ project.owner.username }}"
                        >{{ project.owner.username }}</mat-card-subtitle
                    >

                    <mat-card-title>Description</mat-card-title>
                    <p>{{ project.description }}</p>

                    <mat-card-title>Links</mat-card-title>
                    <mat-card-actions>
                        <button mat-button>
                            <a
                                href="{{ project.github }}"
                                style="text-decoration: none"
                                >{{ project.github }}</a
                            >
                        </button>
                        <button mat-button>
                            <a
                                href="{{ project.url }}"
                                style="text-decoration: none"
                                >{{ project.url }}</a
                            >
                        </button>
                    </mat-card-actions>
                    <button id='discover-project' mat-raised-button color="primary" (click)="onEdit(project)"
                      *ngIf="project.owner.username == username" type="button">Edit</button>
                    <app-tags class="profile-card-tags" [tags]="project.tags"></app-tags>
                </mat-card>
            </section>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
