<mat-card class="project-detail-mat-card" *ngIf="project">
    <mat-grid-list cols="3" rowHeight=600px>
        <mat-grid-tile [colspan]=1 [style.border-right]="'1px dashed #ddd'">
            <img src="{{ project.image }}" alt="Project Image" />
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2>
            <section class="description fill-container">
                <mat-card class="fill-container">
                    <mat-card-title class="project-title">{{ project.name }}</mat-card-title>

                    <mat-card-subtitle
                        routerLink="/user/{{ project.owner.username }}"
                        >{{ project.owner.username }}</mat-card-subtitle
                    >

                    <mat-card-title>Description</mat-card-title>
                    <p>{{ project.description }}</p>

                    <mat-card-title>Links</mat-card-title>
                    <mat-card-actions>
                        <mat-list class="links-container">
                            <mat-list-item *ngIf="user.email">
                                <a href="mailto:{{ user.email }}">
                                    <fa-icon class="project-icon" [icon]="faEnvelope"></fa-icon>
                                </a>
                                <div class="single-link-container">
                                    <mat-label class="link-description">Email</mat-label>
                                    <a class="project-link" href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </div>
                            </mat-list-item>
                            <mat-list-item *ngIf="project.github">
                                <a href="https://github.com/{{ project.github }}">
                                    <fa-icon class="project-icon" [icon]="faGithub"></fa-icon>
                                </a>
                                <div class="single-link-container">
                                    <mat-label class="link-description">Github</mat-label>
                                    <a class="project-link" href="https://github.com/{{ project.github }}">{{ project.github }}</a>
                                </div>
                            </mat-list-item>
                            <mat-list-item *ngIf="project.url">
                                <a href="{{ project.url }}">
                                    <fa-icon class="project-icon" [icon]="faLink"></fa-icon>
                                </a>
                                <div class="single-link-container">
                                    <mat-label class="link-description">Website</mat-label>
                                    <a class="project-link" href="{{ project.url }}">{{ project.url }}</a>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-actions>
                    <button id='discover-project' mat-raised-button color="primary" (click)="onEdit(project)"
                      *ngIf="project.owner.username == username" type="button">Edit</button>
                    <app-tags class="profile-card-tags" [tags]="project.tags"></app-tags>
                </mat-card>
            </section>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
