.mat-button {
  padding: 0 10px;
}

.mat-card-subtitle {
  display: inline-block;
  cursor: pointer;
}

.mat-card-subtitle:hover {
  text-decoration: underline;
}

.project-detail-mat-card {
  margin: 50px;
}

.project-title {
  font-size: 40px;
}

.project-icon {
  float: left;
  font-size: 28px;
  margin-right: 10px;
  color: black;
}

.link-description {
  font-size: 16px;
}

.links-container {
  padding: 0;
}

.single-link-container {
  font-size: 14px;
  display: grid;
}

.fill-container {
  height: 100%;
  width: 100%;
}

#discover-project {
  margin-bottom: 10px;
}