<div class="row">
    <div class="profile" *ngIf="!(isHandset$ | async)">
      <app-user-info></app-user-info>
    </div>
    <div class="projects">
      <app-user-info *ngIf="isHandset$ | async"></app-user-info>
        <h1 class="project-title">Projects</h1>
        <mat-grid-list cols="2" rowHeight="450px">
            <mat-grid-tile
                *ngFor="let project of projects"
                [colspan]="responsRow | async"
                [rowspan]="1"
            >
                <app-project-card [project]="project"></app-project-card>
            </mat-grid-tile>
        </mat-grid-list>
        <h3 class="project-title">Similar Projects</h3>
            <mat-grid-list cols="2" rowHeight="450px">
              <mat-grid-tile
                *ngFor="let project of recommendedProjects"
                [colspan]="responsRow | async"
                [rowspan]="1"
              >
              <app-project-card [project]="project"></app-project-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
