.mat-card {
  display: flex;
  flex-direction: column;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

.dashboard-card:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}

.mat-card-content{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* outline: 1px solid red; */
}

.profile-card-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1px;
}

.profile-card-tags {
  width: 100%;
  margin-bottom: 10px;
}

.profile-card-github {
  width: fit-content;
  float: left;
}

.profile-card-github:hover {
  text-decoration: underline;
}

.profile-card-user {
  width: max-content;
  float: right;
}

.profile-card-user:hover {
  text-decoration: underline;
}

.no-decoration {
  text-decoration: none;
}