<mat-card *ngIf="project" class="dashboard-card">
  <img (click)="redirectProject(project)" mat-card-image src="{{ project.image }}"
    style="height: 200px; object-fit: cover;" />

  <mat-card-title (click)="redirectProject(project)">
    {{ project.name }}
  </mat-card-title>

  <mat-card-content (click)="redirectProject(project)" class="dashboard-card-content">
    {{ project.description }}
  </mat-card-content>

  <mat-card-footer class="profile-card-footer">
    <app-tags class="profile-card-tags" [tags]="project.tags"></app-tags>
    <span class="profile-card-github">
      <a href="{{ project.github }}" style="text-decoration: none">Project Link</a>
    </span>
    <button class="profile-card-user" id='discover-project' mat-raised-button color="primary" (click)="onEdit(project)"
      *ngIf="project.owner.username == username" type="button">Edit</button>
    <span class="profile-card-user" *ngIf="project.owner.username != username">
      <a routerLink="/user/{{project.owner.username}}">{{ project.owner.username }}</a>
    </span>
  </mat-card-footer>

</mat-card>
