<app-search></app-search>
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile *ngFor="let project of projects" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <img
          mat-card-image
          src="https://i.imgur.com/VBjgoiU.png"
          style="height: 250px; object-fit: cover;"
        />

        <mat-card-title>
          {{ project.name }}
        </mat-card-title>

        <mat-card-content class="dashboard-card-content">
          <div>{{ project.description }}</div>
        </mat-card-content>
        
        <mat-card-footer>
          <div style="text-align: right; padding-right: 20px;">
            {{ project.status }}
          </div>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
