<app-search (searchEventEmitter)="onSearch($event)"></app-search>
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="410px">
    <mat-grid-tile *ngFor="let project of projects" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <img
          mat-card-image
          src="{{ project.image }}"
          style="height: 250px; object-fit: cover;"
        />

        <mat-card-title>
          {{ project.name }}
        </mat-card-title>

        <mat-card-content class="dashboard-card-content">
          <div>{{ project.description }}</div>
        </mat-card-content>

        <mat-card-footer>
          <div style="margin:15px">
            <span style="float: left">
              <a href="{{ project.github }}" style="text-decoration: none"
                >Project Link</a
              >
            </span>

            <span style="float: right">
              {{ project.owner.username }}
            </span>
          </div>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
