<mat-expansion-panel [expanded]="expand" (opened)="open()" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>search</mat-icon>
      &nbsp;
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of filterTags" [selectable]="selectable" [removable]="removable" (removed)="removeFilterTag(tag)"
          color="accent" selected>
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <mat-chip *ngFor="let user of filterUsers" [selectable]="selectable" [removable]="removable" (removed)="removeUserTag(user)"
          color="primary" selected>
          {{user}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <mat-chip *ngFor="let project of filterProjects" [selectable]="selectable" [removable]="removable" (removed)="removeProjectTag(project)"
          color="warn" selected>
          {{project}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <!-- <input matInput placeholder="Search Projects by tags, users, or more ... "> -->
    </mat-panel-title>
    <mat-panel-description style="padding-top: 5px; justify-content: space-between">
      <span></span>
      Search by #Tag or @UserName or ProjectName
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <!-- Use when tags get implimented -->
    <!-- <mat-list-item>
      Recomended Tags: &nbsp;
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of recomendedTags" [value]="tag" [selectable]="selectable" [removable]="removable"
          (removed)="removeRecomendedTag(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">add</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-list-item> -->
    <form [formGroup]="formGroup">
      <!-- Use when tags get implimented -->
      <!-- <mat-list-item>
        <mat-form-field style="padding-bottom: 20px; width: 100%; text-align: right">
          <input matInput placeholder="Search All Tags" formControlName="searchTagsControl" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addFilterTag($event)" [matAutocomplete]="tag">
        </mat-form-field>
        <mat-autocomplete #tag="matAutocomplete">
          <mat-option *ngFor="let tag of filteredSearchTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
    </mat-list-item> -->
      <mat-list-item>
        <mat-form-field style="padding-top: 20px; padding-bottom: 20px; width: 100%; text-align: right">
          <input matInput placeholder="Search All Users" formControlName="searchUsersControl" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addFilterUserChipEvent($event)" [matAutocomplete]="user">
        </mat-form-field>
        <mat-autocomplete #user="matAutocomplete">
          <mat-option *ngFor="let user of filteredSearchUsers | async" [value]="user" (click)="addFilterUser(user)">
            {{user}}
          </mat-option>
        </mat-autocomplete>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field style="padding-top: 20px; width: 100%; text-align: right">
          <input matInput placeholder="Search All Projects" formControlName="searchProjectsControl" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addFilterProjectChipEvent($event)" [matAutocomplete]="project">
        </mat-form-field>
        <mat-autocomplete #project="matAutocomplete">
          <mat-option *ngFor="let project of filteredSearchProjects | async" [value]="project" (click)="addFilterProject(project)">
            {{project}}
          </mat-option>
        </mat-autocomplete>
      </mat-list-item>
    </form>
  </mat-list>
  <mat-action-row>
    <button mat-button (click)="search()">Search</button>
  </mat-action-row>
</mat-expansion-panel>
